.vscode
**/__pycache__/
clip_scratch/clip_atasoglu
clip_scratch/data
clip_scratch/wandb
diffusion_models_learn/ghibli_finetuning/dataset
diffusion_models_learn/ghibli_finetuning/ghibli_style_descriptions
diffusion_models_learn/ghibli_finetuning/lora-ghibli_style_descriptions
diffusion_models_learn/ghibli_finetuning/wandb
diffusion_models_learn/ghibli_finetuning/lora_ghibli_finetuned
diffusion_models_learn/cp-vton/data/test
diffusion_models_learn/cp-vton/data/train
diffusion_models_learn/cp-vton/__pycache__
diffusion_models_learn/cp-vton/tensorboard
diffusion_models_learn/cp-vton/result
wandb
*/checkpoints
ai_text_detection/sft/dataset
ai_text_detection/sft/checkpoints
ai_text_detection/sft/distilroberta-noadv-raid
kaggle_ai_text_detection/data